In [1]:
import pandas as pd
from utils import save

In [2]:
! ls -l ../data/

total 539840
drwxr-xr-x  4 jadams  staff        128 Nov 21 14:28 pkl
-rw-r--r--  1 jadams  staff    5190322 Nov 21 13:14 sample_submission.csv.zip
-rw-r--r--  1 jadams  staff  181827196 Nov 21 13:14 test.csv.zip
-rw-r--r--  1 jadams  staff   63399110 Nov 21 13:14 train.csv
-rw-r--r--  1 jadams  staff   22202741 Nov 21 13:14 train.csv.zip

In [3]:
TRAIN_PATH = '../data/train.csv'

In [4]:
train_df = pd.read_csv(TRAIN_PATH)

In [5]:
train_df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

Let's see how long these questions are.

In [6]:
train_df['q1_len'] = train_df['question1'].str.len()
train_df['q2_len'] = train_df['question2'].str.len()

train_df.loc[:, ['q1_len', 'q2_len']].describe()

              q1_len         q2_len
count  404289.000000  404288.000000
mean       59.536856      60.108663
std        29.940546      33.863690
min         1.000000       1.000000
25%        39.000000      39.000000
50%        52.000000      51.000000
75%        72.000000      72.000000
max       623.000000    1169.000000

There seems to be some really small questions. Let's take a look at these questions.

In [7]:
train_df[train_df['q1_len'] == 1]

,id,qid1,qid2,question1,question2,is_duplicate,q1_len,q2_len
3306,3306,6553,6554,.,Why is Cornell's endowment the lowest in the I...,0,1.0,56.0
13016,13016,25026,25027,?,Why should one not work at Google?,0,1.0,34.0
20794,20794,39204,39205,?,What is the Gmail tech support help phone number?,0,1.0,49.0
96725,96725,161071,161072,?,"Who are Moses, Noah and Exodus?",0,1.0,31.0
104101,104101,171925,171926,?,"Problem of solving a problem is not a problem,...",0,1.0,149.0
108978,108978,178936,178937,i,What questions to ask any drdummer?,0,1.0,35.0
115347,115347,188110,52215,o,Where can I watch free streaming movies online?,0,1.0,47.0
134403,134403,214814,214815,?,What is your take on the undercover report tha...,0,1.0,144.0
151922,151922,188110,238787,o,What is this - “This website/URL has been bloc...,0,1.0,132.0
158778,158778,247989,48850,A,Do men forgive their wives when they cheat on ...,0,1.0,51.0
189659,189659,161071,288480,?,Who is Noah?,0,1.0,12.0
190570,190570,289688,289689,‘,"Time is money.Can some one explain, how it works?",0,1.0,49.0
199110,199110,300509,300510,I,What is the connection between Donald trump an...,0,1.0,69.0
208485,208485,312495,312496,?,"Given that PACER makes money from usage, why d...",0,1.0,101.0
213220,213220,25026,64784,?,What is it like to work at Google?,0,1.0,34.0
254161,254161,214814,368834,?,How do I convince my non-Indian friends that n...,0,1.0,140.0
273065,273065,391451,380455,?,"How can I describe Quora, in all its glory, to...",0,1.0,55.0
357127,357127,486520,146954,H,Should I forgive the cheater?,0,1.0,29.0
402423,402423,535899,119568,?,What is cisco router technical support phone n...,0,1.0,52.0

In [8]:
train_df[train_df['q2_len'] == 1]

,id,qid1,qid2,question1,question2,is_duplicate,q1_len,q2_len
47056,47056,84067,84068,Is there anywhere in the world offering pain m...,?,0,117.0,1.0
198913,198913,300250,188110,What is this?,o,0,13.0,1.0

Let's confirm did not make a mistake reading the csv file.

In [9]:
! cat {TRAIN_PATH} | head -n 47060 | tail -n 1

cat: stdout: Broken pipe

The number of questions do not seem to be matching the lines in `train.csv`. Let's confirm this.

In [10]:
print('Rows:',train_df.shape[0])
! wc -l {TRAIN_PATH}

Rows: 404290
  404302 ../data/train.csv

Let's confirm the last row id is present in both.

In [11]:
print(train_df['id'].tail(1))
! cat {TRAIN_PATH} | tail -n 1

404289    404289
Name: id, dtype: int64
"404289","537932","537933","What is like to have sex with cousin?","What is it like to have sex with your cousin?","0"

In [12]:
train_df['id'].min()

0

This seems accurate. The `id` in the train.csv is auto-incrementing and starts at 0, and the maximum value of the `id` column matches the last row in the flat file.

I am going to remove all single character questions as this will be added noise in my classifier.

In [13]:
train_df = train_df[train_df['q1_len'] != 1]
train_df = train_df[train_df['q2_len'] != 1]

train_df.describe()

,id,qid1,qid2,is_duplicate,q1_len,q2_len
count,404269.000000,404269.000000,404269.000000,404269.000000,404268.000000,404267.000000
mean,202146.488467,217244.037886,220958.026858,0.369217,59.539580,60.108641
std,116708.990923,157752.561226,159904.900421,0.482593,29.938408,33.863037
min,0.000000,1.000000,2.000000,0.000000,2.000000,2.000000
25%,101072.000000,74436.000000,74727.000000,0.000000,39.000000,39.000000
50%,202149.000000,192183.000000,197055.000000,0.000000,52.000000,51.000000
75%,303220.000000,346574.000000,354697.000000,1.000000,72.000000,72.000000
max,404289.000000,537932.000000,537933.000000,1.000000,623.000000,1169.000000

How many pairs of questions were flagged as duplicates in the dataset?

In [14]:
train_df[train_df['is_duplicate'] == 1].shape[0] / train_df.shape[0]

0.3692170312341535

About 37% of the question pairs are identified as duplicates. The training data is not that imbalanced.

Let's now save the altered data frame.

In [15]:
save(train_df, 'train')