In [19]:
from utils import save, load
import pandas as pd

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import NMF
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split

In [17]:
train_df = load('train')
train_df.head()

,id,qid1,qid2,question1,question2,is_duplicate,q1_len,q2_len
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,66.0,57.0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,51.0,88.0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0,73.0,59.0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0,50.0,65.0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0,76.0,39.0

Let's make a stack of questions maintaining the `id` of the question pair.

In [18]:
question_df = train_df.loc[:, ['id', 'question1']]
question_df = question_df.append(train_df.loc[:,['id', 'question2']], sort=False)
question_df.loc[question_df['question1'].isna(), 'question1'] = question_df.loc[question_df['question1'].isna(), 'question2']
question_df = question_df.drop(columns='question2')
question_df[question_df['id'].isin([0, 1, 2])].sort_values('id')

   id                                          question1
0   0  What is the step by step guide to invest in sh...
0   0  What is the step by step guide to invest in sh...
1   1  What is the story of Kohinoor (Koh-i-Noor) Dia...
1   1  What would happen if the Indian government sto...
2   2  How can I increase the speed of my internet co...
2   2  How can Internet speed be increased by hacking...

Let's now make a pipeline to transform the question data into a tf-idf matrix and reduce the resulting matrix down using NMF.

In [23]:
pipeline = Pipeline(
    [
        ('tfidf', TfidfVectorizer()), 
        ('nmf', NMF())
    ]
)

(202135, 2)